body {
  background-color: rgb(31, 30, 30);
  color: rgb(202, 198, 198);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
}
#app {
  background-color: rgb(31, 30, 30);
  color: rgb(202, 198, 198);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
}
header {
  /* flex-grow: 1; */
  /* padding-top: 10%; */
  /* align-content: center; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 5; */
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  border: 1px solid white;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;

  justify-content: space-evenly;
  /* margin-bottom: 5%; */
  border: 1px solid red;
}
h1 {
  font-size: 1.8rem;
  border: 1px solid white;
}
h2 {
  font-size: 1.8rem;
  /* padding-top: 5%; */
  width: fit-content;
}

figure {
  display: flex;
  justify-content: center;
  width: 40vw;
  /* border: 1px solid white; */
}

.profileImg {
  border-radius: 60%;
  width: 200px;
}
p {
  width: 70vw;
  line-height: 1.5;
  font-size: 1.4rem;
  /* border: 1px solid white; */
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  /* margin-top: 20%; */
  /* border: 1px solid white; */
}
.sectionBtn {
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  background-color: rgb(31, 30, 30);

  border: 1px solid rgb(103, 95, 95);
  color: rgb(202, 198, 198);

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  padding: 20px;
}
.sectionBtn:hover {
  background-color: rgb(103, 95, 95);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 25%; */
  /* flex-grow: 2; */
}

.projectLinks {
  color: rgb(202, 198, 198);
  text-decoration: none;
}
.projectImg {
  max-width: 50%;
  border-radius: 10%;
  margin: 10px;
}

#ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 70vw;
  height: 70vh;
  justify-content: space-between;
  /* border: 1px solid white; */
}

li {
  list-style-type: none;
  margin-bottom: 10%;
  border: 1px solid rgb(103, 95, 95);
  border-radius: 2%;
  padding: 5%;
}

li:hover {
  background-color: rgb(103, 95, 95);
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#linkedInLogo {
  /* width: 30%; */
  max-width: 100px;
}

@media screen and (min-width: 480px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    /* margin-top: 20%; */
    /* border: 1px solid white; */
  }
  p {
    width: 480px;
    line-height: 1.5;
    font-size: 1.4rem;
    /* border: 1px solid white; */
  }
}
